{% extends "base.html" %} {% block title %}Booking{% endblock %} {% block content %}

<h1 align="center">Booking</h1>
<ul class="list-group list-group-flush" id="notes">
    <div align="center">
        <table>
            <thead>
            <tr class="text-center">
                {% for x in header_caption %}
                <th>{{ x }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            <form method="POST" class="text-center">

                {% for row in flight.rows %}
                {% set row_number = loop.index %}
                <tr>
                    <td>{{ row_number }}</td>
                    {% for seat in row.elements %}
                    {% if seat.booked == False and seat.caption != "| |" %}
                    {% if seat.booking_id != None %}
                    {% if seat.seat_class == 0%}
                    <td>
                        <button class="btn btn-primary" ;
                                style="background-color:red;border-color:red; color:white"
                                onclick=cancel_booking({{seat.seat_str}}, {{seat.booking_id}})>&#128735;
                        </button>
                    </td>

                     {% elif seat.seat_class == 1%}
                    <td>
                        <button class="btn btn-primary" ;
                                style="background-color:red;border-color:red; color:white"
                                onclick=cancel_booking({{seat.seat_str}}, {{seat.booking_id}})>&#129681;
                        </button>
                    </td>

                     {% elif seat.seat_class == 2%}
                    <td>
                        <button class="btn btn-primary" ;
                                style="background-color:red;border-color:red; color:white"
                                onclick=cancel_booking({{seat.seat_str}}, {{seat.booking_id}})>&#128186;
                        </button>
                    </td>

                     {% elif seat.seat_class == 3%}
                    <td>
                        <button class="btn btn-primary" ;
                                style="background-color:red;border-color:red; color:white"
                                onclick=cancel_booking({{seat.seat_str}}, {{seat.booking_id}})>&#128715;&#65039;
                        </button>
                    </td>
                    {% endif %}


                    {% else %}
                    {% if seat.seat_class == 0%}
                    <td>
                        <button class="btn btn-primary" ;
                                style="background-color:green; border-color:green; color:white"
                                onclick=book({{seat.seat_str}}, {{seat.seat_id}})>&#128735;
                        </button>
                    </td>
                    {% elif seat.seat_class == 1%}
                    <td>
                        <button class="btn btn-primary" ;
                                style="background-color:green; border-color:green; color:white"
                                onclick=book({{seat.seat_str}}, {{seat.seat_id}})>&#129681;
                        </button>
                    </td>{% elif seat.seat_class == 2%}
                    <td>
                        <button class="btn btn-primary" ;
                                style="background-color:green; border-color:green; color:white"
                                onclick=book({{seat.seat_str}}, {{seat.seat_id}})>&#128186;
                        </button>
                    </td>{% elif seat.seat_class == 3%}
                    <td>
                        <button class="btn btn-primary" ;
                                style="background-color:green; border-color:green; color:white"
                                onclick=book({{seat.seat_str}}, {{seat.seat_id}})>&#128715;&#65039;
                        </button>
                    </td>
                    {% endif %}
                    {% endif %}
                    {% elif seat.caption == None %}
                    <td class="text-center">| |</td>
                    {% else %}
                    <td class="text-center">X</td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}

                <script>
            function book(seat_str, seat_id) {
                if(confirm(`Do you want to book seat ${seat_str}?`)) {
                    # Booking confirmed
                    alert(`We will try to book seat ${seat_str} for you.`)
                } else {
                    # Booking declined
                }
            }
            function cancel_booking(seat_str, booking_id) {
                if(confirm(`Do you really want to cancel your booking for seat ${seat_str}?`)) {
                    # Booking cancellation confirmed
                    alert(`You cancelled your booking for seat ${seat_str}.`)
                } else {
                    # Booking cancellation declined
                }
            }
                </script>

            </form>
            </tbody>


        </table>
    </div>
    </ul>
<br/>
<br/>
<style class="center">
    legend {
        text-align: center;
    }
    fieldset {
        text-align: center;
    }
</style>
<fieldset>
  <legend>legend</legend>
    X = booked from a other user
    &#128997; = booked from you
    &#129001; = free to book
     | | = corridor
    <br>&#128715;&#65039; = First class
    &#128186; = Business class
    &#129681; = Economy class
    &#128735; = Emergency seat
    <br/>
</fieldset>


{% endblock %}