{% extends "base.html" %} {% block title %}help{% endblock %} {% block content %}
    <h1 align="center">Help-Page</h1>
    <br/>
    <br/>

    <head>
        <style>
            .left-text {
            float: left;
            width: 50%;
            }
            .right-text {
            float: right;
            width: 50%;
            }
        </style>
    </head>
    <body>
        <div class="left-text">
    <br>
    <h3>1.How to Sign In:</h3>
        First you need to click on the upper left at "Sign Up"
    <br> ->then you need to fill all fields with your data
    <br> ->then click on the button "Submit"
    <br> =>Now you should have successfully signed up
    <br/>
    <br/>
    <br/>
    <h3>2.How to Log In:</h3>
        First you need to click on the upper left at "Log In"
    <br> ->then fill in your email and your password
    <br> ->then if you are sure your Data is correct, click on the button "Login"
    <br> =>now you should have been loged in and be redirected to the Home Page
    <br/>
    <br/>
    <br/>
    <h3>3.How to use the Booking Site:</h3>
        First you need to click on the upper left at "Booking"
    <br> ->the green buttons with a chair, are the seats that are available to get booked
    <br> --->to book a seat you want, click on the button and commit that you want to book it
    <br> ->the red buttons with a chair, are your booked seats
    <br> --->to decline your reservation you can click on this button and you need to confirm it
    <br> ->the "X" are the seats that got booked by other users
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
        </div>
        <div class="right-text">
    <br/>
    <h3>FAQ:</h3>
            How to logout?
            <br> --> To logout you need to click on the upper left at "Logout"
            <br> I don´t see the the bar for Home, Login, Sign Up, Help or other options:
            <br> --> click at the button with the three stripes at the upper left corner and they will appear
            <br> You got other Questions that don´t got answered here or you want to give us feedback?
            <br> --> write us an email at: charkz-airline@support.com
        </div>

{% endblock %}


