{% extends "base.html" %} {% block title %}home{% endblock %} {% block content %}
    <form method="POST">
        <h1 align="center">Welcome to Charkz-Airline</h1>

        <head>
            <style>
                .center {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                }
            </style>
        </head>
        <body>
        <div class="center">
        </div>
        <div class="center">
            <img src={{ url_for('static', filename = 'css/images/icons/logo.png') }}>
        </div>
        </body>
    </form>

{% endblock %}